main.legal {
  --margin: 5rem;
  padding: var(--margin);
  min-height: calc(100svh - var(--footer-height) * 2);
  font-family: var(--font-geist-sans);
  max-width: 50rem;
}

.legal h2 {
  font-size: xxx-large;
}

.legal h3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: xx-large;
}

.legal h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.legal li {
  list-style-type: none;
  /* display: grid; */
  /* grid-template-columns: 1rem 1fr; */
  /* gap: 0.5rem; */
  margin-left: 1rem;
  position: relative;
}

.legal li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  top: 0.6em;
  left: -1rem;
  background: currentColor;
}

.legal p {
  margin-bottom: 1rem;
}

.legal a {
  text-decoration: underline;
}

p.date {
  position: relative;
  width: fit-content;
  border-left: 4px solid var(--color-accent);
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: rgb(35, 35, 35);
}

@media (max-width: 1080px) {
  main.legal {
    padding: 2rem;
  }
}
