.notificationContainer {
  z-index: 1000;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 1rem);
  height: 100%;
  padding: 1.2rem;
  align-items: flex-end;
  pointer-events: none;
  user-select: none;
  font-weight: 600;
}

.notification {
  font-size: 1.1rem;
  border-radius: 2.4rem;
  padding: 1.1rem 1.5rem;
  display: flex;
  animation: myFade 0.2s ease;
  transition: transform 0.2s ease;
  pointer-events: auto;
  color: white;
  align-items: center;
  gap: 1ch;
}
.notification svg {
  width: 24px;
  height: 24px;
}

.notification.info {
  background: var(--color-info);
}
.notification.success {
  background: var(--color-success);
}
.notification.error {
  background: var(--color-error);
  color: black;
}

.close {
  margin-left: 2ch;
  color: inherit;
  transition: transform 0.1s;
  display: flex;
  outline: none;
  border: none;
}
@media (hover) {
  .notification:hover {
    transform: scale(1.05);
  }
  .close:hover {
    transform: scale(1.2);
  }
}

@keyframes myFade {
  0% {
    transform: translateY(100);
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    transform: translateY(0%);
  }
}
